@model IEnumerable<Product>
@{
    Layout = null;
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Online store</title>
</head>
<body>
<h3>Phones</h3>
<table>
    <tr>
        <td>Model</td>
        <td>Manufacturer</td>
        <td>Price</td>
        <td></td>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Company</td>
            <td>@product.Price</td>
            <td><a href="~/Home/Buy/@product.Id">Buy</a></td>
        </tr>
    }
</table>
</body>
</html>