@model IEnumerable<Phone>
@{
    Layout = null;
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Online store</title>
</head>
<body>
<h3>Phones</h3>
<table>
    <tr>
        <td>Model</td>
        <td>Manufacturer</td>
        <td>Price</td>
        <td></td>
    </tr>
    @foreach (var phone in Model)
    {
        <tr>
            <td>@phone.Name</td>
            <td>@phone.Company</td>
            <td>@phone.Price</td>
            <td><a href="~/Home/Buy/@phone.Id">Buy</a></td>
        </tr>
    }
</table>
</body>
</html>